.cardIdade{

    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
body {
    
    background-color: darkgrey;

}

form {

    text-align: center;
    margin: 20px;
    padding: 20px;

}

h1 {

    font-size: large;

}

p {

    font-size: medium;

}

input{

    padding: 10px;
    margin: auto;
    width: 150px;
}

.sla {

    width: 2000px;
    margin: auto;
    text-align: center;


}