.card {
    
    width: 135px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.cardIdade{

    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

}

.cardIdade h1{

    border: 1px solid black;
    border-radius: 10px;
}

.cardIdade h2{

    border: 1px solid black;
    border-radius: 10px;
}

body{

    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color: papayawhip;
}