.card H1 {
    
    width: 160px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

body{

    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgb(255, 253, 208, 1.0);
    
}

.lol {
    
    background-color: aliceblue;
    border: 1px transparent;
    border-radius: 3px;
    padding: 7px;
}
a {
    
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: transparent;
    border-radius: 5px ;
    padding: 3px;
    background-color: rgba(253, 210, 210, 0.952);
    color: rgb(240, 26, 240);
}

