body{

 background-color: rgb(146, 146, 146);
 border: 1px solid black;
 border-radius: 4px;
 padding: 20px;
 text-align: center;
 margin:55px auto;
 max-width: 400px;
 
}
.cor {
    background-color: rgb(221, 236, 248);
}
.card {

    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}

button{

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 80px;
    padding: 6px;

}

p{

    color: black;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

a {
    background-color: black;
    color: aliceblue;
    text-align: left;
    width: 80px;
    padding: 5px;

}